*{
    font-family: sans-serif;
    text-align: center;
}
.tabla{
    border-collapse: collapse;
    margin: auto;
}
.tabla thead {
    background-color: #336288;
    color: white;
}

.tabla tr{
    border-bottom: 1px solid #cbcbcb;
}
.tabla th, .tabla td{
    border: none;
    padding: 8px 20px;
    
}

.tabla_datos{
    margin: auto;
    background-color: white;
}
.tabla td{
    background-color: white;
    color: black;
