*{
    font-family: sans-serif;
    text-align: center;
}
#titulo{
    font: bold 50px 'Lucida Sans', sans-serif;
    background-color: aliceblue;
    padding: 15px;
}
body{
    text-align: center;
    margin-top: -40px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(232, 235, 244);
    
}
table{
    margin: auto;
    background-color: rgb(161, 125, 88);
    border-collapse: separate;
    border-spacing: 3px 3px;
    border-radius: 10px;
}


#estadosPTF2{
    display: flex;
    justify-content: space-between;
    border-radius: 0;
    margin:auto;
}

#tablaUsuarios td:hover{
    background-color: rgb(255, 255, 255);
}


thead th {
    background-color: rgb(242, 220, 191);
    border-radius: 10px 10px 0 0;
    color: rgb(19, 17, 35);
    padding: 10px 20px;
    
}

.finalFila td{
    border-radius: 0 0 10px 10px;
}
tbody td{
    background-color: rgb(239, 237, 234);
    text-align: left;
    color: rgb(5, 5, 5);
    font-family: 'Sebastian';
    padding: 8px;
    margin-right: 5px;
}

#ID{
    text-align: center;
}


input[type='text']{
    background-color: #ffffff;
    width: 514px;
    padding: 5px 10px 5px 10px;    
    border-radius: 6px;
    border-color: #eaedf0;
    text-align: left;
    
}

input[type='text']:hover{
    background-color: #eaedf0; 
    border-radius: 6px;
    border-color: #ffffff;
    text-align: left;   
}


#estadoAsistencia{
    text-align: center;
}
input[type='radio']{
    margin: 0 10px;
    accent-color: green;
    transform: scale(1.5);
	border: 2px solid rgb(117, 47, 202);

}
input[type='radio']:hover{
    transform: scale(1.8);
}

input[type='button']{
    padding:  5px 10px;
    background-color: #c1b0e0;
    border-color: #c1b0e0;
    border-radius: 10px;
    color: #062945;
    font: bold;
    font-size: 18px;
    font-family: 'Sebastian';
}

input[type='button']:hover{
    padding:  5px 10px;
    background-color: #062945;
    border-color: #062945;
    border-radius: 10px;
    color:  #c1b0e0;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
 

@font-face{
    font-family: "Sebastian";
    src: url('.\\Fonts\\Bauhaus.woff') format('woff');;
}

.btnFinal{
    margin-top: 50px;
    display: flex;
    margin: 20px 300px;
    justify-content: center;
    justify-content: space-between;
    
}
#btnCONSULTA{
    margin-bottom: 30px;
}
.btnSEND2 input {
    padding: 15px;
    height: 20px;
    width: 21px;
    border: #062945;
    background-color: #2386d6;
}


#footer{
    margin: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 1px solid #062945 ;
    padding: 10px;
}
