*{
   font-family: sans-serif;
   text-align: center;
   margin: auto;
}
body{
   text-align: center;
   background-color: rgb(255, 255, 255);
}
table tr td{
   margin-top: auto;
   border-bottom: 1px solid rgb(231, 219, 219);
   
}
#justif{
   width: 500px;
}
.btsLISA{
   text-align: center;
}
thead th {
   background-color: #ced9e2;
   color: rgb(28, 22, 80);
   padding: 20px 20px;
   border-radius: 6px;
}

tbody td{
   background-color: rgb(255, 255, 255);
   text-align: left;
   color: rgb(5, 5, 5);
}
#titulo{
   font: bold 35px 'Lucida Sans', sans-serif;
   background-color: aliceblue;
   padding: 15px;
}

input[type='text']{
   background-color: #eff1f3;
   width: 514px;
   padding: 5px 10px 5px 10px;    
   border-radius: 6px;
   border-color: #eff;
   text-align: left;
   
}

input[type='submit']{
   background-color: #d4dee6;
   padding: 5px 10px 5px 10px;    
   border-radius: 50%;
   border-color: #d4dee6;

   font-weight: bold;
}
input[type='submit']:hover{
   background-color: #abc9e0;
   border-color: #d4dee6;
   -moz-transform: scale(1.2);
   -webkit-transform: scale(1.2);
   transform: scale(1.2);
   font: bold;
}

.justif{
   width: 100px;
}
